body{
    background: green;
    margin: 0;
    font-family: 'Raleway', sans-serif;
} 

/*nav*/
.navbar{
    width: 100%;
    height: 40px;
    background: white;
    padding-left: 25px;
}
.file-button{
    height: 2em;
    width: 120px;
    font-size: 20px;
    font-weight: bolder;
    background: inherit;
    border: none;
    outline: none;
    text-align: left;
}
.display-Result{
    float: right;
    padding-right: 50px;
    font-size: 20px;
    font-weight: bolder;
    padding-top: 8px;
}

/*Cards*/
.deck{
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    padding: 0 1%;
    justify-content: center;
    width: 60%;
    margin: 10px auto;
    cursor: pointer;
}
.card,
.front,
.back{
    width: 150px;
    height: 200px;
    border-radius: 15px;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.card{
    margin: 1% 1%;
    perspective: 1000px;
}
/*flip class that will flip card*/
.flip{
    transform: rotateY(180deg);
}
/*flip speed*/
.sides{
    transition: 0.9s;
    transform-style: preserve-3d;
    position: relative;
}
.front, .back{
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.front{
    background-color: blue;
    z-index: 2;
}
.back{
    background-color: red;
    transform: rotateY(180deg);
}

/*This will lock the cards in place*/
.locking-card{
    pointer-events: none;
}